.main_div {
    width: 100%;
    height: 100vh;
    background-color: #6983aa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.center_div {
    width: 25%;
    height: 80vh;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

.headingList {
    font-size: 40px;
    font-weight: 500;
    padding: 6px 0 2px 0;
    background-color: #8566aa;
    margin-bottom: 10px;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}

.newButton {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #8566aa;
    color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.newButton:hover {
    background-color: #20bf6b;
}

.showItem {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8566aa;
    text-transform: capitalize;
    flex-direction: column;
    margin-top: 20px;
}

.eachItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.todo-btn {
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    box-shadow: 5px 5px 15px -5px #0000004d;
    color: #f0f8ff;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 15px 0 35px;
    width: 100px;
}

.todo-btn:hover {
    background-color: crimson;
}
.checkList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.effect{
    border: none;
    background:  #8566aa;
    color: #fff;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;

}

@media (max-width:768px) {
    .center_div {
        width: 55%;
    }

}

@media (max-width:430px) {
    input {
        font-size: 10px;
        font-weight: 300;
    }

    .newButton {
        font-size: 20px;
        width: 30px;
    }
    .eachItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}
}




